invt-mgmt-sys/src/main/resources/queries/queries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="queries">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="query" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name"></xs:element>
							<xs:element name="value"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>